@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================*/
.wrapper {
  max-width: 1360px;
  width: 23%; 
  margin: 0 auto;
}

.advertise_container{
  height: 600px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background-image: url('../butter_assets/bg.jpg');  
  text-align: center;  
}
/*=================================
  header styling start
=================================*/ 
header img{
  width: 30%;
  margin: 20px 0px 40px;
}
/*=================================
  header styling end
=================================*/ 

/*=================================*/
.plate img {
  width: 70%;
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: -390px;   
  animation-name: plate;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1s;  
  animation-direction: forwards;
}

@keyframes plate {
  0%    { left: -220px; bottom: 25px; }
  10%   { left: 0; bottom: 25px; }
  90%   { left: 0; bottom: 25px; }
  100%  { left: -220px; bottom: 25px; }
}
/*=================================*/
.sad_sonali img {
  width: 65%;
  position: absolute;  
  z-index: 1;
  right: -200px;
  bottom: 90px; 
  animation-name: sad_sonali;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1.5s;
}

@keyframes sad_sonali {
  0%    { right: -200px; bottom: 90px; }
  10%   { right: 0; bottom: 90px; }
  40%   { right: 0; bottom: 90px; }
  85%   { right: 0; bottom: 90px; }
  100%  { right: -200px; bottom: 90px; }  
}
/*=================================*/
.boring_sandwich {
  width: 50%;
  display: inline-block;
  position: absolute;
  left: -220px;
  text-transform: capitalize;
  color: #c2223a;
  font-size: 30px;
  animation-name: boring_sandwich;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
}

@keyframes boring_sandwich {
  0%    { left: -390px; }
  10%   { left: 70px; }
  40%   { left: 70px; }
  85%   { left: 70px; }
  100%  { left: -390px; }  
}
/*=================================*/
.sandwich_one img {
  width: 50%;
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: -170px;
  animation-name: sandwich_one;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
}

@keyframes sandwich_one {
  0%  { left: -170px; bottom: 25px;}
  5% { left: 0; bottom: 25px; }
  95% { left: 0; bottom: 25px; }
  100%  { left: -170px; bottom: 25px; }
}

.sandwich_two img{
  width: 35%;
  position: absolute;
  z-index: 1;
  bottom: 36px;
  left: -150px; 
  animation-name: sandwich_two;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
}

@keyframes sandwich_two {
  0%    { left: -150px; bottom: 36px; }
  5%    { left: 15px; bottom: 36px; }
  95%   { left: 15px; bottom: 36px; }
  100%  { left: -150px; bottom: 36px; }
}

.sandwich_three img{
  width: 33%;
  z-index: 2;
  position: absolute;
  bottom: 45px;
  left: -145px;
  animation-name: sandwich_three;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
}

@keyframes sandwich_three {
  0%    { left: -145px; bottom: 45px; }
  5%    { left: 20px; bottom: 45px; }
  10%   { left: 20px; bottom: 75px; }
  15%   { left: 20px; bottom: 75px; }
  25%   { left: 20px; bottom: 75px; }
  30%   { left: 20px; bottom: 50px; }
  95%   { left: 20px; bottom: 50px; }
  100%  { left: -145px; bottom: 50px; }
}
/*=================================*/
.mayo img{
  width: 30%;
  position: absolute;
  z-index: 1;
  bottom: 45px;
  left: 20px;
  opacity: 0;
  animation-name: mayo;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
}

@keyframes mayo {
  0%    { left: 20px; bottom: 45px; opacity: 0; }
  5%    { left: 20px; bottom: 45px; opacity: 0; }
  10%   { left: 20px; bottom: 45px; opacity: 0; }
  15%   { left: 20px; bottom: 45px; opacity: 0; }
  25%   { left: 20px; bottom: 45px; opacity: 1; }
  30%   { left: 20px; bottom: 45px; opacity: 1; }
  95%   { left: 20px; bottom: 45px; opacity: 1; }
  100%  { left: -145px; bottom: 45px; opacity: 1; }
}

.knife img{
  width: 25%;
  position: absolute;
  z-index: 1;
  bottom: 55px;
  left: 42px;  
  opacity: 0;
  transform: rotateX(230deg);
  animation-name: knife;
  animation-duration: 1s;
  animation-delay: 5s;
}

@keyframes knife {
  0%    { left: 42px; bottom: 55px; opacity: 0; }
  25%   { left: 45px; bottom: 53px; opacity: 1; }
  50%   { left: 50px; bottom: 50px; opacity: 1; }
  75%   { left: 55px; bottom: 45px; opacity: 1; }
  100%  { left: 60px; bottom: 40px; opacity: 0; }
}
/*=================================*/
.sandwicheo{
  width: 55%;
  position: absolute; 
  right: -190px;
  display: inline-block;
  color: #c2223a;
  font-size: 30px;
  text-transform: capitalize;
  animation-name: sandwicheo;
  animation-duration: 3s;
  animation-delay: 6.5s;
}

@keyframes sandwicheo {
  0%    { left: -390px; }
  10%   { left: 70px; }
  40%   { left: 70px; }
  85%   { left: 70px; }
  100%  { left: -390px; }  
}

/*=================================*/
.happy_sonali img{
  width: 65%;
  position: absolute;
  z-index: 1;
  right: -200px;
  bottom: 100px;
  animation-name: happy_soanli;
  animation-duration: 3s;
  animation-delay: 6.5s;
}

@keyframes happy_soanli {
  0%  { right: -200px; }
  10% { right: -2px; }
  40% { right: -2px; }
  85% { right: -2px; }
  100%  { right: -200px; }  
}
/*=================================*/
.chef img{  
  width: 70%;
  position: absolute;
  z-index: 1;
  right: -200px;
  bottom: 100px;
  animation-name: chef;
  animation-duration: 3s;
  animation-delay: 9.5s;
}

@keyframes chef{
  0%   { bottom:100px; right:-200px;}
  10%  { bottom:100px; right: 0px;}
  40%  { bottom:100px; right: 0px;}
  85%  { bottom:100px; right: 0px;}
  100% { bottom:100px; right:-200px;}
}
/*=================================*/
.fun_food {
  width: 61%;
  display: inline-block;
  position: absolute;
  left: -220px;
  color: #c2223a;
  font-size: 30px;
  text-transform: capitalize; 
  animation-name: fun_food;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 9.5s;
}
@keyframes fun_food {
  0%    { left: -390px; }
  10%   { left: 70px; }
  40%   { left: 70px; }
  85%   { left: 70px; }
  100%  { left: -390px; }  
}
/*=================================*/
.magic{
  width: 61%;
  display: inline-block;
  position: absolute;
  left: -220px;
  color: #c2223a;
  font-size: 30px; 
  text-transform: capitalize; 
  animation-name: magic;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-delay: 12.5s;
  animation-fill-mode: forwards;
}

@keyframes magic {
  0%    { left: -220px; }
  10%   { left: 60px; }
  40%   { left: 60px; }
  85%   { left: 60px; }
  100%  { left: 60px; }  
}
/*=================================*/
.veg_mayo img{  
  width: 35%;
  position: absolute;
  right: -120px;
  bottom: 10px;
  animation-name: veg_mayo;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-delay: 12.5s;
  animation-fill-mode: forwards;
}

@keyframes veg_mayo {
  0%    { right: -120px; }
  10%   { right: 90px; }
  40%   { right: 90px; }
  85%   { right: 90px; }
  100%  { right: 90px; }  
}
/*=================================*/
.hat img{
  width: 40%;
  position: absolute;
  z-index: 1;
  top: 190px;
  left: -130px; 
  animation-name: hat;
  animation-duration: 6.5s;
  animation-timing-function: ease;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}

@keyframes hat {
  0%    { top: 190px; left: -130px; }
  10%   { top: 240px; left: 110px; }
  40%   { top: 350px; left: 110px; }
  85%   { top: 350px; left: 110px; }
  100%  { top: 350px; left: 110px; }  
}
/*=================================*/
.button a{
  padding: 10px;
  position: absolute;
  border-radius: 3px;
  top: 165px;
  left: -100px;
  text-transform: capitalize;
  background-color: #3f2d89;
  color: #fff;  
  animation-name: button;
  animation-duration: 4.5s;
  animation-timing-function: ease;
  animation-delay: 15s; 
  animation-fill-mode: forwards;
}

@keyframes button {
  0%    { top: 165px; left: -100px; }
  10%   { top: 250px; left: 95px; }
  40%   { top: 250px; left: 95px; }
  85%   { top: 250px; left: 95px; }
  100%  { top: 250px; left: 95px; }  
}
/*=================================
  footer styling start
=================================*/ 
footer img{
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: table;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes table{
  from  { opacity: 0;}
  to    { opacity: 1;}
}
/*=================================
  footer styling start
=================================*/ 
  