@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================*/
.wrapper {
  max-width: 1360px;
  width: 23%; 
  margin: 0 auto;
}
.advertise_container{
  border: 1px solid black;
  background-image: url('../butter_assets/bg.jpg');
  height: 600px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/*=================================
  header styling start
=================================*/ 
header img{
  width: 30%;
  margin: 20px 0px 40px;
}
/*=================================
  header styling end
=================================*/ 

/*=================================*/
.plate img {
  position: absolute;
  left: -390px;
  bottom: 25px;
  width: 70%;
  z-index: 1;
  animation-name: plate;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
}

@keyframes plate {
  0%  { left: -220px; bottom: 25px;}
  10% { left: 0; bottom: 25px; }
  90% { left: 0; bottom: 25px; }
  100%  { left: -220px; bottom: 25px; }
}
/*=================================*/
.sad_sonali img {
  position: absolute;
  width: 65%;
  z-index: 1;
  bottom: 90px;
  right: -200px;
  animation-name: sad_sonali;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes sad_sonali {
  0%  { right: -200px; bottom: 90px;}
  10% { right: 0; bottom: 90px; }
  40% { right: 0; bottom: 90px; }
  85% { right: 0; bottom: 90px; }
  100%  { right: -200px; bottom: 90px; }
  
}
/*=================================*/
.boring_sandwich {
  position: absolute;
  left: -220px;
  text-transform: capitalize;
  color: #c2223a;
  width: 50%;
  display: inline-block;
  font-size: 30px;
  animation-name: boring_sandwich;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
}
@keyframes boring_sandwich {
  0%  { left: -390px; }
  10% { left: 70px; }
  40% { left: 70px; }
  85% { left: 70px; }
  100%  { left: -390px; }  
}






/*=================================*/
.sandwich_one img {
  position: absolute;
  left: -170px;
  bottom: 25px;
  width: 50%;
  z-index: 1;
  animation-name: sandwich_one;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
  animation-direction: forwards;
}

@keyframes sandwich_one {
  0%  { left: -170px; bottom: 25px;}
  5% { left: 0; bottom: 25px; }
  95% { left: 0; bottom: 25px; }
  100%  { left: -170px; bottom: 25px; }
}

.sandwich_two img{
  position: absolute;
  left: -150px;
  bottom: 36px;
  width: 35%;
  z-index: 1;
  animation-name: sandwich_two;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
  animation-timing-function: ease;
  animation-direction: alternate;
}

@keyframes sandwich_two {
  0%  { left: -150px; bottom: 36px;}
  5% { left: 15px; bottom: 36px; }
  95% { left: 15px; bottom: 36px; }
  100%  { left: -150px; bottom: 36px; }
}


.sandwich_three img{
  position: absolute;
  left: -145px;
  width: 33%;
  bottom: 45px;
  z-index: 2;
  animation-name: sandwich_three;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
  animation-direction: forwards;
}

@keyframes sandwich_three {
  0%  { left: -145px; bottom: 45px;}
  5% { left: 20px; bottom: 45px; }
  10% { left: 20px; bottom: 75px; }
  15% { left: 20px; bottom: 75px; }
  25% { left: 20px; bottom: 75px; }
  30% { left: 20px; bottom: 50px; }
  95% { left: 20px; bottom: 50px; }
  100%  { left: -145px; bottom: 50px; }
}
/*=================================*/
.mayo img{
  position: absolute;
  left: 20px;
  width: 30%;
  bottom: 45px;
  z-index: 1;
  opacity: 0;
  animation-name: mayo;
  animation-duration: 8.6s;
  animation-delay: 3.8s;
  animation-direction: forwards;
}
@keyframes mayo {
  0%  { left: 20px; bottom: 45px; opacity: 0;}
  5% {  left: 20px; bottom: 45px; opacity: 0;}
  10% { left: 20px; bottom: 45px; opacity: 0;}
  15% { left: 20px; bottom: 45px; opacity: 0;}
  25% {  left: 20px; bottom: 45px; opacity: 1;}
  30% {  left: 20px; bottom: 45px; opacity: 1;}
  95% {  left: 20px; bottom: 45px; opacity: 1;}
  100%  { left: -145px; bottom: 45px; opacity: 1;}
}

.knife img{
  width: 25%;
  left: 42px;
  bottom: 55px;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transform: rotateX(230deg);
  animation-name: knife;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-timing-function: ease;
}
@keyframes knife {
  0%  { left: 42px; bottom: 55px; opacity: 0;}
  25% { left: 45px; bottom: 53px; opacity: 1;}
  50% { left: 50px; bottom: 50px; opacity: 1;}
  75% { left: 55px; bottom: 45px; opacity: 1;}
  100%  { left: 60px; bottom: 40px; opacity: 0;}
}

/*=================================*/

.sandwicheo{
  position: absolute;
  text-transform: capitalize;
  color: #c2223a;
  width: 55%;
  right: -190px;
  display: inline-block;
  font-size: 30px;
  animation-name: sandwicheo;
  animation-duration: 3s;
  animation-delay: 6.5s;
  animation-direction: forwards;
}
@keyframes sandwicheo {
  0%  { left: -390px; }
  10% { left: 70px; }
  40% { left: 70px; }
  85% { left: 70px; }
  100%  { left: -390px; }  
}


/*=================================*/
.happy_sonali img{
  position: absolute;
  width: 65%;
  bottom: 90;
  bottom: 100px;
  right: -200px;
  z-index: 1;
  animation-name: happy_soanli;
  animation-duration: 3s;
  animation-delay: 6.5s;
  animation-direction: forwards;
}
@keyframes happy_soanli {
  0%  { right: -200px; }
  10% { right: -2px; }
  40% { right: -2px; }
  85% { right: -2px; }
  100%  { right: -200px; }  
}


/*=================================
  footer styling start
=================================*/ 
footer img{
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: table;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  display: block;
}

@keyframes table{
  from { opacity: 0;}
  to { opacity: 1;}
}
/*=================================
  footer styling start
=================================*/ 


/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  